RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_HOST=instagram120.p.rapidapi.com
RAPIDAPI_BASE_URL=https://instagram120.p.rapidapi.com
POSTS_ENDPOINT=/api/instagram/posts
POSTS_METHOD=POST
PROFILE_ENDPOINT=/api/instagram/profile
PROFILE_METHOD=POST
HIGHLIGHTS_ENDPOINT=/api/instagram/highlights
HIGHLIGHTS_METHOD=POST
HIGHLIGHT_STORIES_ENDPOINT=/api/instagram/highlightStories
HIGHLIGHT_STORIES_METHOD=POST
STORIES_ENDPOINT=/api/instagram/stories
STORIES_METHOD=POST
PORT=3000
